html {
    font-family: 'Inter', 'system-ui', sans-serif;
    font-size: 13px;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'system-ui', sans-serif;
    }
}

h1 {
    font-size: 24px;
    letter-spacing: -0.47px;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.18px;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}
